.SuccessWindow {
  position: absolute;
  width: 30%;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: rgba(1, 12, 63);
  box-shadow: 0 4px 2px 2px #000000;
  text-align: center;
  z-index:2;
}
.noWindow{
  display: none;
}

.SuccessWindowHeader {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  padding-top: 1rem;
}

.buttons{
  margin-top:2rem;
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  /*add space flex*/
}

.SuccessWindow-b {
  cursor: pointer;
  width: 8.5rem;
  padding: .77rem 0;
  border-radius: 54px;
  margin:auto;
  background-color: #6c41ec;
  text-align: center;
  font-size: .83rem;
  transition: background-color .25s;

}

.SuccessWindow-b:hover {
  background-color: rgba(108, 65, 233, .7);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SuccessWindow {
    width: 90%;
  }
}
